
@import 'style.css'

.block-text{
    display:none
  }

@media screen and (min-width:900px){
  .block-text{
    display:block
  }
}

.block-text{
    padding: 8px 8px 8px 8px;
 }
 
 .block-text{
    padding: 8px 11px; 
 }
 
.block-text{
    padding-top:8px;
    padding-bottom:8px;
    padding-right:8px;
    padding-left:8px;
 }
 
 /* just simple comment
 .block-text{
    padding:8px 11px 
 }
 */
 h1{
   font-size:16px;
 }
 h1{font-size:16px;}
 
.block-text{
  padding:0px;
}
.block-text{
  font-size:16px !important;
}
.some-important-paraghraph{
  font-size:20px
}
 
 
 
